---
import Container from "./Container.astro"
import Topic from "./Topic.astro"
import { FaCheckCircle, FaLanguage, FaChartLine, FaUserCheck, FaRocket, FaHandshake, FaArrowRight } from 'react-icons/fa'
import { getRelativeLocaleUrl } from 'astro:i18n';
import type { TranslationType } from './types/services';

const currentLocale = Astro.currentLocale || 'it';

// Import translations
import enTranslations from '../../public/locales/en/translation.json';
import itTranslations from '../../public/locales/it/translation.json';

const translations: TranslationType = currentLocale === 'en' ? enTranslations : itTranslations;
---

<Container>
  <div class="bg-white p-4 sm:p-6 lg:p-8">
    <Topic
      title={translations.successStories.title}
      description={translations.successStories.description}
    />
    
    <div class="mt-4 sm:mt-6 lg:mt-8 lg:grid lg:grid-cols-2 lg:gap-6 xl:gap-8">
      <div class="bg-gradient-to-br from-gray-50 to-gray-100 p-6 sm:p-8 rounded-lg shadow-md transition-all duration-300 hover:shadow-lg">
        <h3 class="text-xl sm:text-2xl lg:text-2xl font-bold mb-4 sm:mb-6 text-gray-800">{translations.successStories.case1.title}</h3>
        <div>
          <div class="flex items-start mb-2">
            <p class="text-base sm:text-lg lg:text-lg text-gray-700"><span class="font-semibold">{translations.successStories.case1.point1.title}</span> {translations.successStories.case1.point1.description}</p>
          </div>
          <div class="flex items-start mb-2">
            <p class="text-base sm:text-lg lg:text-lg text-gray-700"><span class="font-semibold">{translations.successStories.case1.point2.title}</span> {translations.successStories.case1.point2.description}</p>
          </div>
          <div class="flex items-start">
            <p class="text-base sm:text-lg lg:text-lg text-gray-700"><span class="font-semibold">{translations.successStories.case1.point3.title}</span> {translations.successStories.case1.point3.description}</p>
          </div>
        </div>
        <a href="#" class="mt-6 inline-flex items-center text-[#F95C04] font-bold text-lg sm:text-xl hover:underline">
          {translations.successStories.readMore} 
          <FaArrowRight className="w-5 h-5 ml-1" />
        </a>
        <div class="mt-8 flex justify-between items-center bg-white rounded-lg p-4 shadow-inner">
          <div class="text-center">
            <p class="text-2xl sm:text-3xl lg:text-5xl font-bold text-[#F95C04]">78%</p>
            <p class="text-sm sm:text-base lg:text-base font-medium mt-2 text-gray-600">{translations.successStories.case1.stat1}</p>
          </div>
          <div class="text-center">
            <p class="text-2xl sm:text-3xl lg:text-5xl font-bold text-[#F95C04]">63%</p>
            <p class="text-sm sm:text-base lg:text-base font-medium mt-2 text-gray-600">{translations.successStories.case1.stat2}</p>
          </div>
          <div class="text-center">
            <p class="text-2xl sm:text-3xl lg:text-5xl font-bold text-[#F95C04]">16%</p>
            <p class="text-sm sm:text-base lg:text-base font-medium mt-2 text-gray-600">{translations.successStories.case1.stat3}</p>
          </div>
        </div>
      </div>
      <div class="bg-gradient-to-br from-gray-50 to-gray-100 p-6 sm:p-8 rounded-lg shadow-md transition-all duration-300 hover:shadow-lg">
        <img src="/mentorship/multidevice.png" alt={translations.successStories.testimonial.imageAlt} class="w-full rounded-lg mb-6 shadow-md" />
        <div class="bg-white rounded-lg p-4 shadow-inner">
          <h4 class="text-lg sm:text-xl font-semibold mb-2 text-gray-800">{translations.successStories.testimonial.title}</h4>
          <p class="text-base sm:text-lg italic text-gray-700">{translations.successStories.testimonial.quote}</p>
          <p class="text-sm sm:text-base font-medium mt-2 text-gray-600">{translations.successStories.testimonial.author}</p>
        </div>
      </div>
    </div>
    
    <div class="mt-8 sm:mt-12 space-y-8 sm:space-y-12 lg:space-y-0 lg:grid lg:grid-cols-2 lg:gap-6 xl:gap-8">
      <div class="bg-gradient-to-br from-gray-50 to-gray-100 p-6 sm:p-8 rounded-lg shadow-md transition-all duration-300 hover:shadow-lg">
        <h3 class="text-xl sm:text-2xl lg:text-2xl font-bold mb-4 sm:mb-6 text-gray-800">{translations.successStories.video.title}</h3>
        <div class="bg-yellow-300 rounded-lg overflow-hidden shadow-md">
            <div class="relative pb-[56.25%] h-0">
                <iframe class="absolute top-0 left-0 w-full h-full"
                        src={translations.successStories.video.url}
                        title={translations.successStories.video.title}
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin"
                        allowfullscreen>
                </iframe>
            </div>
        </div>
        <p class="mt-4 text-base sm:text-lg text-gray-700">{translations.successStories.video.description}</p>
      </div>
      
      <div class="bg-gradient-to-br from-gray-50 to-gray-100 p-6 sm:p-8 rounded-lg shadow-md transition-all duration-300 hover:shadow-lg">
        <h3 class="text-xl sm:text-2xl lg:text-2xl font-bold mb-4 sm:mb-6 text-gray-800">{translations.successStories.case2.title}</h3>
        <div>
          <div class="flex items-start mb-2">
            <p class="text-base sm:text-lg lg:text-lg text-gray-700"><span class="font-semibold">{translations.successStories.case2.point1.title}</span> {translations.successStories.case2.point1.description}</p>
          </div>
          <div class="flex items-start mb-2">
            <p class="text-base sm:text-lg lg:text-lg text-gray-700"><span class="font-semibold">{translations.successStories.case2.point2.title}</span> {translations.successStories.case2.point2.description}</p>
          </div>
          <div class="flex items-start">
            <p class="text-base sm:text-lg lg:text-lg text-gray-700"><span class="font-semibold">{translations.successStories.case2.point3.title}</span> {translations.successStories.case2.point3.description}</p>
          </div>
        </div>
        <blockquote class="mt-6 italic text-base sm:text-lg text-gray-700">{translations.successStories.case2.quote}</blockquote>
        <p class="mt-2 font-semibold text-sm sm:text-base text-gray-600">{translations.successStories.case2.author}</p>
        <div class="mt-8 flex justify-between items-center bg-white rounded-lg p-4 shadow-inner">
          <div class="text-center">
            <p class="text-2xl sm:text-3xl lg:text-5xl font-bold text-[#F95C04]">218%</p>
            <p class="text-sm sm:text-base lg:text-base font-medium mt-2 text-gray-600">{translations.successStories.case2.stat1}</p>
          </div>
          <div class="text-center">
            <p class="text-2xl sm:text-3xl lg:text-5xl font-bold text-[#F95C04]">7.3 ROI</p>
            <p class="text-sm sm:text-base lg:text-base font-medium mt-2 text-gray-600">{translations.successStories.case2.stat2}</p>
          </div>
          <div class="text-center">
            <p class="text-2xl sm:text-3xl lg:text-5xl font-bold text-[#F95C04]">2+</p>
            <p class="text-sm sm:text-base lg:text-base font-medium mt-2 text-gray-600">{translations.successStories.case2.stat3}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</Container>
