---
import Container from "./Container.astro"
import Topic from "./Topic.astro";
import { getRelativeLocaleUrl } from 'astro:i18n';
import type { TranslationType } from './types/services';

// Ensure currentLocale is always 'en' or 'it'
const currentLocale = Astro.currentLocale || 'it';

// Import translations
import enTranslations from '../../public/locales/en/translation.json';
import itTranslations from '../../public/locales/it/translation.json';

const translations: TranslationType = currentLocale === 'en' ? enTranslations : itTranslations;

---

<Container>
  <div class="relative flex flex-col items-center md:flex-row">
    <Topic   title={translations.contact.title}
    description={translations.contact.description} />
  </div>

  <div class="relative flex flex-col lg:flex-row mb-24 bg-black rounded-[45px] p-4 lg:p-12 ">
    <div class="w-full lg:w-5/12 p-4 lg:p-8 border border-[#343434] rounded-3xl mb-4 lg:mb-0 lg:mr-4">
      <img src="../../team/c.png" alt="Marcello" class="w-24 h-24 rounded-full mb-4" />
      <h2 class="text-xl lg:text-2xl font-semibold text-white mb-2">{translations.contact.meetingWithMarcello}</h2>
      <p class="text-base lg:text-base font-normal text-white mb-4">
        {translations.contact.questions}
      </p>
      <button class="text-base lg:text-base text-white underline flex items-center">
        <span class="mr-2 flex flex-row justify-center items-center"><svg width="16px" height="16px" viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M256 120.768L306.432 64 768 512l-461.568 448L256 903.232 659.072 512z" fill="#ffffff"></path></g></svg>&nbsp;{translations.contact.scheduleCall}</span>
      </button>
    </div>
    
    <div class="w-full lg:w-7/12 p-4 lg:p-8 border border-[#343434] rounded-3xl">
      <h2 class="text-xl lg:text-2xl font-semibold text-white mb-4">{translations.contact.getFreeAnalysis}</h2>
      <form class="space-y-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          <input type="text" placeholder={translations.contact.name} class="bg-black border border-[#343434] rounded-xl p-2 text-sm text-white w-full" />
          <input type="text" placeholder={translations.contact.contactNumber} class="bg-black border border-[#343434] rounded-xl p-2 text-sm text-white w-full" />
          <input type="email" placeholder={translations.contact.email} class="bg-black border border-[#343434] rounded-xl p-2 text-sm text-white w-full" />
          <input type="text" placeholder={translations.contact.companyBrand} class="bg-black border border-[#343434] rounded-xl p-2 text-sm text-white w-full" />
        </div>

        <!-- Flex container to align textarea and button -->
        <div class="flex flex-col lg:flex-row gap-4 lg:gap-0 justify-center lg:items-center">
            <textarea placeholder={translations.contact.message} class="w-full bg-black border border-[#343434] rounded-xl p-2 text-sm text-white lg:mr-4" rows="4"></textarea>
            <button type="submit" class="bg-gradient-to-r from-[#F95C04] via-7% to-[#FF8E0A] to-82% text-white py-1 px-12 rounded-xl w-full lg:w-auto text-base justify-center items-center mt-2 lg:mt-0">{translations.contact.contactUsNow}</button>
          </div>

      </form>
      <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center mt-4 text-sm text-white border border-[#343434] rounded-3xl p-4">
        <div class="flex items-center mb-2 sm:mb-0">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 mr-2 text-orange" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
          </svg>
          <span class="text-base lg:text-lg text-orange">{translations.contact.scheduleFreeCall}</span>
        </div>
        <span class="text-base lg:text-lg break-all">{translations.contact.emailmarcello}</span>
      </div>
    </div>
  </div>
</Container>