---
import Container from "./Container.astro"
import { getRelativeLocaleUrl } from 'astro:i18n';
import type { TranslationType } from './types/services';

// Ensure currentLocale is always 'en' or 'it'
const currentLocale = Astro.currentLocale || 'it';

// Import translations
import enTranslations from '../../public/locales/en/translation.json';
import itTranslations from '../../public/locales/it/translation.json';

const translations: TranslationType = currentLocale === 'en' ? enTranslations : itTranslations;
---

<footer class="text-white bg-white">
    <div class="w-full max-w-[1700px] mx-auto">
        <div class="bg-black py-8 sm:py-10 md:py-12 lg:py-14 px-4 sm:px-6 md:px-8 lg:px-24 xl:px-32 rounded-t-[30px] sm:rounded-t-[35px] md:rounded-t-[40px] lg:rounded-t-[45px]">
            <div class="flex flex-col space-y-6 md:space-y-8 lg:space-y-6">
                <!-- First row -->
                <div class="flex flex-col space-y-6 sm:space-y-8 md:space-y-0 md:flex-row md:justify-between md:items-center pb-6 sm:pb-8 md:pb-10">
                    <!-- Logo Section -->
                    <div class="flex-shrink-0 flex justify-center md:justify-start">
                        <img src="/stormxwhite.png" alt="Storm X Digital Logo" class="w-40 sm:w-48 md:w-52 h-auto">
                    </div>
                    
                    <!-- Social Media Icons -->
                    <div class="flex justify-center md:justify-end space-x-4">
                        <a href="https://www.linkedin.com/company/stormxdigital/?viewAsMember=true" class="text-white">
                            <span class="sr-only">LinkedIn</span>
                            <div class="w-7 h-7 sm:w-8 sm:h-8 md:w-9 md:h-9 lg:w-10 lg:h-10">
                                <svg fill="#ffffff" viewBox="-143 145 512 512" xml:space="preserve" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M113,145c-141.4,0-256,114.6-256,256s114.6,256,256,256s256-114.6,256-256S254.4,145,113,145z M41.4,508.1H-8.5V348.4h49.9 V508.1z M15.1,328.4h-0.4c-18.1,0-29.8-12.2-29.8-27.7c0-15.8,12.1-27.7,30.5-27.7c18.4,0,29.7,11.9,30.1,27.7 C45.6,316.1,33.9,328.4,15.1,328.4z M241,508.1h-56.6v-82.6c0-21.6-8.8-36.4-28.3-36.4c-14.9,0-23.2,10-27,19.6 c-1.4,3.4-1.2,8.2-1.2,13.1v86.3H71.8c0,0,0.7-146.4,0-159.7h56.1v25.1c3.3-11,21.2-26.6,49.8-26.6c35.5,0,63.3,23,63.3,72.4V508.1z"></path> </g></svg>
                            </div>
                        </a>
                        <a href="https://www.youtube.com/@StormXDigitalAmazonAlibaba" class="text-white">
                            <span class="sr-only">YouTube</span>
                            <div class="w-7 h-7 sm:w-8 sm:h-8 md:w-9 md:h-9 lg:w-10 lg:h-10">
                                <svg viewBox="0 0 461.001 461.001" xml:space="preserve" fill="#ffffff" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path style="fill:#ffffff;" d="M365.257,67.393H95.744C42.866,67.393,0,110.259,0,163.137v134.728 c0,52.878,42.866,95.744,95.744,95.744h269.513c52.878,0,95.744-42.866,95.744-95.744V163.137 C461.001,110.259,418.135,67.393,365.257,67.393z M300.506,237.056l-126.06,60.123c-3.359,1.602-7.239-0.847-7.239-4.568V168.607 c0-3.774,3.982-6.22,7.348-4.514l126.06,63.881C304.363,229.873,304.298,235.248,300.506,237.056z"></path> </g> </g></svg>
                            </div>
                        </a>
                    </div>
                </div>  

                <!-- Second row -->
                <div class="flex flex-col lg:flex-row lg:justify-between lg:items-start space-y-6 lg:space-y-0 pb-8 sm:pb-10 md:pb-12">
                    <!-- Contact Info -->
                    <div class="space-y-2 text-center lg:text-start lg:w-1/3">
                        <p class="font-normal text-sm sm:text-base md:text-lg lg:text-xl">{translations.footer.email}</p>
                        <p class="font-normal text-sm sm:text-base md:text-lg lg:text-xl">{translations.footer.phone}</p>
                        <p class="font-normal text-sm sm:text-base md:text-lg lg:text-xl">{translations.footer.companyName}</p>
                        <p class="font-normal text-sm sm:text-base md:text-lg lg:text-xl">{translations.footer.vatNumber}</p>
                        <p class="font-normal text-sm sm:text-base md:text-lg lg:text-xl">{translations.footer.address}</p>
                        <p class="font-normal text-sm sm:text-base md:text-lg lg:text-xl">{translations.footer.fullAddress}</p>
                    </div>
                    
                    <!-- Navigation Section -->
                    <nav class="lg:w-1/3">
                        <ul class="flex flex-col items-center lg:items-center space-y-2 sm:space-y-3 md:space-y-4 text-sm sm:text-base md:text-lg lg:text-xl font-normal">
                            <li><a href="/" class="text-white underline">{translations.footer.home}</a></li>
                            <li><a href={getRelativeLocaleUrl(currentLocale, 'mentorship')} class="text-white underline">{translations.footer.services}</a></li>
                            <li><a href={getRelativeLocaleUrl(currentLocale, 'blog')} class="text-white underline">{translations.footer.caseStudies}</a></li>
                            <li><a href="#about" class="text-white underline scroll-smooth">{translations.footer.pricing}</a></li>
                            <li><a href="#method" class="text-white underline scroll-smooth">{translations.footer.tutorialsBestPractices}</a></li>                        </ul>
                    </nav>
                    
                   <!-- Updated Email Form -->
                   <div class="flex flex-col space-y-4 items-center lg:items-end w-full lg:w-1/3">
                    <input 
                        type="email" 
                        placeholder={translations.footer.subscribeEmail} 
                        class="px-2 py-2 bg-transparent border border-white bg-black rounded-[18px] text-white w-full max-w-xs"
                    >
                    <button 
                        class="bg-gradient-to-r from-[#F95C04] via-7% to-[#FF8E0A] to-82% text-white px-4 sm:px-6 py-2 sm:py-3 rounded-[18px] font-bold whitespace-nowrap text-sm sm:text-base w-full max-w-xs"
                    >
                        {translations.footer.subscribeButton}
                    </button>
                </div>
                </div>
    
                <!-- Third row -->
                <div class="flex flex-col space-y-4 sm:space-y-6 md:space-y-0 md:flex-row md:justify-between md:items-center pt-4 border-t border-gray-700">
                    <div class="flex flex-col space-y-2 md:space-y-4 md:w-1/3">
                        <p class="text-xs sm:text-sm md:text-base text-center md:text-left">{translations.footer.allRightsReserved}</p>
                        <a href="/privacy-policy" class="underline hover:text-gray-300 text-xs sm:text-sm md:text-base text-center md:text-left">{translations.footer.privacyPolicy}</a>
                    </div>
                    <div class="flex justify-center md:justify-end md:w-2/3">
                        <div class="flex flex-col sm:flex-row items-center space-y-2 sm:space-y-0 sm:space-x-4">
                            <img src="/amazon_spn.png" alt="Amazon SPN Certified" class="h-8 sm:h-10 md:h-12 lg:h-16 w-auto">
                            <img src="/amazon_ads.png" alt="Amazon Ads Certified" class="h-8 sm:h-10 md:h-12 lg:h-16 w-auto">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('a[href^="#"]').forEach((anchor: Element) => {
            anchor.addEventListener('click', (e: Event) => {
                e.preventDefault();

                const href = (anchor as HTMLAnchorElement).getAttribute('href');
                if (href) {
                    const targetElement = document.querySelector(href);
                    if (targetElement) {
                        targetElement.scrollIntoView({
                            behavior: 'smooth'
                        });
                    }
                }
            });
        });
    });
</script>