---
import { getRelativeLocaleUrl } from 'astro:i18n';
import type { TranslationType } from './types/services';

const currentLocale = Astro.currentLocale || 'it';

// Import translations
import enTranslations from '../../public/locales/en/translation.json';
import itTranslations from '../../public/locales/it/translation.json';

const translations: TranslationType = currentLocale === 'en' ? enTranslations : itTranslations;

const features = translations.table.features;
---

<div class="flex justify-center p-6">
  <div class="w-full max-w-[1320px] bg-white rounded-[45px] shadow-lg border-2 lg:border-b-8 lg:border border-white lg:border-black p-6">
    <!-- Header -->
    <h2 class="text-xl md:text-3xl font-bold text-center text-[#FF6600] mb-8">
      {translations.table.title}
    </h2>

    <!-- Mobile Image (visible on md and smaller screens) -->
    <div class="block lg:hidden">
      {currentLocale === 'en' ? (
        <img src="/mobile_table.webp" alt={translations.table.imageAlt} class="w-full" />
      ) : (
        <img src="/mobile_table.webp" alt={translations.table.imageAlt} class="w-full" />
      )}
    </div>

    <!-- Table (visible on lg and larger screens) -->
    <div class="hidden lg:block overflow-x-auto ">
      <table class="w-full text-left border-collapse">
        <thead>
          <tr>
            <th class="p-2 lg:p-4 border border-black"></th>
            <th class="p-2 lg:p-4 text-center text-white font-bold border border-black">
              <div class="flex items-center justify-center gap-2">
                <img src="/StormXLogo.svg" alt="STORM DIGITAL" class="w-20 lg:w-auto" />
              </div>
            </th>
            <th class="p-2 lg:p-4 text-xl lg:text-3xl font-bold text-center border border-black">{translations.table.others}</th>
          </tr>
        </thead>
        <tbody>
          {features.map((feature, index) => (
            <tr>
              <td class="p-2 lg:p-4 text-sm lg:text-lg border border-black font-bold">{feature}</td>
              <td class="p-2 lg:p-4 text-center bg-gradient-to-r from-[#F95C04] to-[#FF8E0A] text-white border border-black">
                <img src="/table/yes.png" alt={translations.table.yesAlt} class="w-4 lg:w-6 h-4 lg:h-6 mx-auto" />
              </td>
              <td class="p-2 lg:p-4 text-center border border-black">
                <img src="/table/no.png" alt={translations.table.noAlt} class="w-4 lg:w-6 h-4 lg:h-6 mx-auto" />
              </td>
            </tr>
          ))}
        </tbody>
      </table>
    </div>
  </div>
</div>