---
import Container from "./Container.astro"
import Topic from "./Topic.astro";
import teamData from './Data/team.json';
import Collapse from "./Collapse.astro";
import FounderSection from "./FounderSection.astro";

---
<Container>
<div class="relative flex flex-col items-center md:flex-row">
    <Topic title="Il Team Storm X" description="Una parte del nostro Team di esperti Amazon. Migliaia di ore di esperienza su Amazon Seller Central e Vendor Central a disposizione della tua PMI"/>
</div>

<FounderSection />

<div class="flex-row items-center py-5" id="team">
    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 gap-4">
    {
    teamData.team.map(({ title, description, name, link, profile} ) => (
    <div class="h-[331px] px-[35px] py-10 bg-white rounded-[45px] shadow-card border border-zinc-900 flex-col justify-start items-start gap-2.5 inline-flex text-black">
        <div class="flex-col justify-start items-start gap-7 flex">
            <div class="self-stretch justify-start items-start inline-flex">
                <div class="grow shrink basis-0 justify-start items-center gap-8 flex">
                    <div class="h-[102.82px] left-0 top-0 relative">
                        <img src={profile} alt={name}/>
                    </div>
                    <div class="flex-col justify-end items-start inline-flex">
                        <div class="text-lg font-bold">{title}</div>
                        <div class="text-lg font-medium">{name}</div>
                    </div>
                </div>
                <a class="top-0 right-0" href={link}>
                    <img src="/team/lng.svg" alt="vector"/>
                </a>
            </div>
            <hr class="w-full border border-black"/>
            <p class="text-sm md:text-base">{description}</p>
        </div>
    </div>
    ))
    }
    </div>
</div>



<div class="pt-20 relative flex flex-col items-center md:flex-row">
    <Topic title="Il Nostro Processo" description="Aumentiamo costantemente la tua quota di mercato. Gestiamo ogni aspetto della tua presenza su Amazon, inclusi quelli che molte agenzie trascurano, come la gestione del catalogo e la SEO. Quando le campagne PPC funzionano in sinergia con la SEO e il Design, l'intero catalogo guadagna insieme quote di mercato."/>
</div>

<div class="my-6">
    <div class="space-y-10">
        {
        teamData.process.map((process, key) => (
            <Collapse label={process.label} index={key + 1}>
            {process.content}
            </Collapse>
        ))
        }
        <div class="group outline-none accordion-section" tabindex="1">
            <div class="group group-focus:bg-[#F95C04] group-focus:shadow-none shadow-card bg-gradient-to-r from-[#F95C04] via-7% to-[#FF8E0A] to-82% group-focus:rounded-b-none group-focus:rounded-t-3xl rounded-3xl flex justify-between px-4 py-3 items-center transition-colors ease duration-500 cursor-pointer pr-10 relative">
              <div class="flex items-center group-focus:text-white px-10 pt-10 w-full transition ease duration-500">
                <div class="flex pb-10 gap-5 w-full items-center">
                  <div class="flex justify-between w-full items-center rouded-full">
                    <div class="flex items-center gap-5">
                      {
                        6 && (
                          <>
                            <p class="text-6xl font-medium text-white  flex items-center">
                              0{6}
                            </p>
                            <p class="lg:text-3xl text-lg text-white ">{'Ripetizione Del Processo'}</p>
                          </>
                        )
                      }
                    </div>

                  </div>
                </div>
              </div>
            </div>

          </div>
    </div>
</div>




  
  <style>
      .accodion-chevron::after{
          content: "";
          @apply h-[70%] w-[8px] transform transition-transform bg-black absolute left-1/2 -translate-x-1/2;
      }
      .accodion-chevron::before{
          content: "";
          @apply h-[70%] w-[8px] rotate-90 transform bg-black absolute left-1/2 -translate-x-1/2;
      }
      .group:focus-within .accodion-chevron::after {
          @apply rotate-90;
      }
  </style>

</Container>