---
import Container from "../Container.astro";
import { getRelativeLocaleUrl } from 'astro:i18n';
import type { TranslationType } from '../types/services';  // Adjust the import path as needed

const currentLocale = Astro.currentLocale || 'it';

// Import translations
import enTranslations from '../../../public/locales/en/translation.json';
import itTranslations from '../../../public/locales/it/translation.json';

const translations: TranslationType = currentLocale === 'en' ? enTranslations : itTranslations;

const founderData = {
  name: "Marcello Di Pierro",
  title: translations.founder.title,
  image: "/team/c.png",
  linkedin: "https://www.linkedin.com/in/marcello-di-pierro-9a31aa105/",
  experience: translations.founder.experience
};
---
<Container>
  <div class="bg-gray-100 rounded-[15px] sm:rounded-[30px] p-4 sm:p-6 md:p-8 lg:p-10 shadow-lg">
    <div class="flex flex-col lg:flex-row gap-6 items-stretch">
      <div class="w-full lg:w-[424px] bg-white rounded-[30px] sm:rounded-[45px] shadow-md border border-black flex-col justify-start items-start inline-flex text-black overflow-hidden" style="border-width: 1px; border-bottom-width: 10px;">
        <div class="flex flex-col h-full justify-between p-4 sm:p-6 md:p-8 lg:p-10 w-full">
          <div>
            <div class="flex justify-between items-start w-full mb-4">
              <div class="flex items-center gap-2 sm:gap-4">
                <div class="w-12 h-12 sm:w-16 sm:h-16 rounded-full overflow-hidden flex-shrink-0">
                  <img src={founderData.image} alt={founderData.name} class="w-full h-full object-cover"/>
                </div>
                <div>
                  <div class="text-base sm:text-lg font-bold flex items-center">
                    {founderData.name}
                    <a href={founderData.linkedin} class="ml-2">
                      <img src="/team/lng.svg" alt="LinkedIn" class="w-4 h-4 sm:w-5 sm:h-5"/>
                    </a>
                  </div>
                  <div class="text-sm sm:text-base font-semibold">{founderData.title}</div>
                </div>
              </div>
            </div>
            <p class="text-sm sm:text-base font-normal">{founderData.experience}</p>
          </div>
        </div>
      </div>

      <div class="w-full lg:flex-1 flex flex-col justify-center items-start gap-4 lg:pl-8">
        <h2 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl font-bold">  {translations.mentorFounder.title} </h2>
        <p class="text-sm sm:text-base">
          {translations.mentorFounder.description}
        </p>
        <a href="https://cal.com/marcello-di-pierro/amazon-growth-session">
        <button class="w-full sm:w-auto px-4 sm:px-6 py-3 bg-orange text-white rounded-lg font-bold text-sm sm:text-base uppercase">
            {translations.mentorFounder.call}
        </button>
      </a>
      </div>
    </div>
  </div>
</Container>