---
import Container from "../Container.astro";
import Topic from "../Topic.astro";
import { Carousel } from "../MentorCard";
import { getRelativeLocaleUrl } from 'astro:i18n';

const currentLocale = Astro.currentLocale || 'it';

// Import translations
import enTranslations from '../../../public/locales/en/translation.json';
import itTranslations from '../../../public/locales/it/translation.json';

const translations = currentLocale === 'en' ? enTranslations : itTranslations;

const cards = [
  {
    title: translations.mentorService.card1.title,
    content: translations.mentorService.card1.content,
    listItems: translations.mentorService.card1.listItems,
    bgClass: "bg-white",
    textColor: "text-black",
    number: "1",
  },
  {
    title: translations.mentorService.card2.title,
    content: translations.mentorService.card2.content,
    listItems: translations.mentorService.card2.listItems,
    bgClass: "bg-gradient-to-r from-[#F95C04] via-7% to-[#FF8E0A] to-82%",
    textColor: "text-white",
    number: "2",
  },
  {
    title: translations.mentorService.card3.title,
    content: translations.mentorService.card3.content,
    listItems: translations.mentorService.card3.listItems,
    bgClass: "bg-gray-900",
    textColor: "text-white",
    number: "3",
  },
  {
    title: translations.mentorService.card4.title,
    content: translations.mentorService.card4.content,
    listItems: translations.mentorService.card4.listItems,
    bgClass: "bg-white",
    textColor: "text-black",
    number: "4",
  },
];
---

<Container>
  <div class="relative flex flex-col items-center md:flex-row" id="services">
    <h2 class="text-orange text-3xl sm:text-4xl font-bold pb-6 text-center md:text-left">
      {translations.mentorService.mainTitle}
    </h2>
  </div>

  <div class="flex-row items-center py-5">
    <div class="hidden md:grid md:grid-cols-2 gap-4">
      {cards.map((card, index) => (
        <div class={`min-h-[310px] p-4 sm:p-6 md:p-8 rounded-[20px] sm:rounded-[45px] shadow-card border border-black justify-between items-start flex flex-col ${card.bgClass} ${card.textColor} relative overflow-hidden`}>
          <div class="z-10">
            <h3 class="text-xl sm:text-2xl font-bold mb-2 sm:mb-4">{card.title}</h3>
            {card.content && <p class="text-xs md:text-base mb-2 sm:mb-4">{card.content}</p>}
            <ul class="list-disc pl-4 sm:pl-5 text-xs md:text-base space-y-1 sm:space-y-2">
              {card.listItems.map((item) => (
                <li>{item}</li>
              ))}
            </ul>
          </div>
          <div class={`absolute bottom-2 right-6 text-4xl sm:text-5xl md:text-6xl font-bold ${card.textColor} z-0`}>{card.number}</div>
        </div>
      ))}
    </div>
    <div class="md:hidden">
      <Carousel client:load cards={cards} />
    </div>
  </div>
</Container>