---
import Container from "../Container.astro"
import ArticleIcon from "../Icons/ArticleIcon.astro"
import VideoIcon from "../Icons/VideoIcon.astro"
import Topic from "../Topic.astro"
import articlesData from '../../components//Data/articles.json';
import TestimonialSlider from "../TestimonialSlider";
import { getRelativeLocaleUrl } from 'astro:i18n';
import type { TranslationType } from '../types/services';

// Ensure currentLocale is always 'en' or 'it'
const currentLocale = Astro.currentLocale || 'it';

// Import translations
import enTranslations from '../../../public/locales/en/translation.json';
import itTranslations from '../../../public/locales/it/translation.json';

const translations: TranslationType = currentLocale === 'en' ? enTranslations : itTranslations;


const testimonials = [
  {
    name: translations.testimonials.daniel.name,
    company: translations.testimonials.daniel.company,
    image: "/Container.webp",
    quote: translations.testimonials.daniel.quote,
    content: translations.testimonials.daniel.content,
    additionalContent: translations.testimonials.daniel.additionalContent
  },
  {
    name: translations.testimonials.jimmy.name,
    company: translations.testimonials.jimmy.company,
    image: "/team/kristy.webp",
    quote: translations.testimonials.jimmy.quote,
    content: translations.testimonials.jimmy.content,
    additionalContent: translations.testimonials.jimmy.additionalContent
  },
  {
    name: translations.testimonials.tom.name,
    company: translations.testimonials.tom.company,
    image: "/team/tom.webp",
    quote: translations.testimonials.tom.quote,
    content: translations.testimonials.tom.content,
    additionalContent: translations.testimonials.tom.additionalContent
  }
];

---

<Container>
  <div class="relative flex flex-col items-center md:flex-row mb-8 sm:mb-12">
    <Topic title={translations.testimonials.sectionTitle} description={translations.testimonials.sectionDescription2} />
  </div>

  <div class="mt-8">
    <div class="lg:hidden">
      <TestimonialSlider client:load testimonials={testimonials} />
    </div>
    <div class="hidden lg:grid lg:grid-cols-3 gap-8 px-4">
      {testimonials.map((testimonial) => (
        <div class="bg-white p-6 sm:p-8 rounded-[45px] shadow-lg border-[0.5px] border-b-[8px] border-black">
          <div class="flex flex-col items-center mb-4">
            <div class="w-40 h-40 xl:w-48 xl:h-48 mb-4 rounded-full overflow-hidden">
              <img src={testimonial.image} alt={testimonial.name} class="w-full h-full object-cover" />
            </div>
            <h3 class="text-lg xl:text-xl font-bold text-[#F95C04] text-center">{testimonial.name}</h3>
            <p class="text-base xl:text-lg font-semibold text-center">{testimonial.company}</p>
          </div>
          <p class="text-[#F95C04] text-base xl:text-lg font-bold text-center mb-4">"{testimonial.quote}"</p>
          <p class="text-center text-sm xl:text-base">{testimonial.content}</p>
          {testimonial.additionalContent && (
            <p class="text-center text-sm xl:text-base mt-2">{testimonial.additionalContent}</p>
          )}
        </div>
      ))}
    </div>
  </div>
</Container>