---
import Container from "../Container.astro"
import Topic from "../Topic.astro";
import teamData from '../Data/team.json';
import Collapse from "../Collapse.astro";
import { getRelativeLocaleUrl } from 'astro:i18n';
import type { TranslationType } from '../types/services';

// Ensure currentLocale is always 'en' or 'it'
const currentLocale = (Astro.currentLocale || 'it') as keyof typeof teamData;
const translations: TranslationType = currentLocale === 'en' ? enTranslations : itTranslations;

// Import translations
import enTranslations from '../../../public/locales/en/translation.json';
import itTranslations from '../../../public/locales/it/translation.json';
import { Translation } from "react-i18next";

---
<Container>
<div class="pt-20 relative flex flex-col items-center md:flex-row">
    <Topic title={translations.process.title} description={translations.process.description2}/>
</div>
 
<div class="my-6">
    <div class="space-y-10">
        {
        teamData[currentLocale].process.map((process, key) => (
          <Collapse label={process.label} index={key + 1}>
            {process.content}
          </Collapse>
        ))
        }
        <div class="group outline-none accordion-section" tabindex="1">
          <div class="group group-focus:bg-[#F95C04] group-focus:shadow-none shadow-card bg-gradient-to-r from-[#F95C04] via-7% to-[#FF8E0A] to-82% group-focus:rounded-b-none group-focus:rounded-t-3xl rounded-[60px] md:rounded-3xl  flex justify-between px-4 py-3 items-center transition-colors ease duration-500 cursor-pointer pr-10 relative">
            <div class="flex items-center group-focus:text-white px-10 pt-10 w-full transition ease duration-500">
              <div class="flex pb-10 gap-5 w-full items-center">
                <div class="flex justify-between w-full items-center rouded-full">
                  <div class="flex items-center gap-5">
                    {
                      6 && (
                        <>
                          <p class="text-6xl font-medium text-white  flex items-center">
                            0{6}
                          </p>
                          <p class="lg:text-3xl text-lg text-white ">{translations.process.repeatProcess}</p>
                        </>
                      )
                    }
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
</Container>