---
import Container from "../Container.astro";
import Topic from "../Topic.astro";
import { getRelativeLocaleUrl } from 'astro:i18n';
import type { TranslationType } from '../types/services';  // Adjust the import path as needed

const currentLocale = Astro.currentLocale || 'it';

// Import translations
import enTranslations from '../../../public/locales/en/translation.json';
import itTranslations from '../../../public/locales/it/translation.json';

const translations: TranslationType = currentLocale === 'en' ? enTranslations : itTranslations;

const stats = [
  { value: "78%", label: translations.story.label1 },
  { value: "63%", label: translations.story.label2 },
  { value: "16%", label: translations.story.label3 },
];
---

<Container>
  <div class="bg-white p-4 sm:p-6 md:p-8 rounded-lg shadow-lg">
    <div class="relative flex flex-col mb-8 md:mb-12">
      <Topic title={translations.story.title} description={translations.story.description}/>
    </div>
    
    <div class="flex flex-col lg:flex-row gap-6 lg:gap-8">
      <div class="lg:w-2/3">
        <img src="/mentorship/reliancelogo.png" alt="Reliance Medical" class="mb-4 h-8 sm:h-10 md:h-12" />
        
        <h3 class="text-lg sm:text-xl font-bold mb-2">{translations.story.h3title1}</h3>
        <p class="mb-4 text-sm sm:text-base font-normal">
          {translations.story.h3desc1}
        </p>

        <h3 class="text-lg sm:text-xl font-bold mb-2">{translations.story.h3title2}</h3>
        <p class="mb-4 text-sm sm:text-base font-normal">
          {translations.story.h3desc2}
        </p>

        <h3 class="text-lg sm:text-xl font-bold mb-2">{translations.story.h3title3}</h3>
        <p class="mb-4 text-sm sm:text-base font-normal">
          {translations.story.h3desc3}
        </p>
      </div>

      <div class="lg:w-1/3">
        <img src="/mentorship/saline.png" alt="Saline Eye Wash" class="w-full sm:w-2/3 md:w-3/4 mx-auto h-auto mb-6 sm:mb-8" />
      </div>
    </div>

    <div class="flex flex-wrap justify-center sm:justify-between gap-6 sm:gap-8 mt-6 sm:mt-8 bg-gray-100 p-4 sm:p-6 rounded-lg">
      {stats.map((stat) => (
        <div class="text-center sm:text-left flex-1 min-w-[150px]">
          <p class="text-4xl sm:text-5xl md:text-6xl font-bold text-orange">{stat.value}</p>
          <p class="text-base sm:text-lg md:text-xl text-black">{stat.label}</p>
        </div>
      ))}
    </div>
  </div>
</Container>